{% extends "index.html" %}
{% block head %}
<title>Books management application - List of authors</title>
{% endblock %}
{% block content %}
<a href="{{ url_for('edit_author', id='0') }}"><span class="glyphicon glyphicon-plus"></span>Add author</a>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Author</th>
      <th>Books</th>
      <th>Control</th>
    </tr>
  </thead>
  <tbody>
  {% for author in authors %}
  <tr>
    <td>{{ author.id }}</td>
    <td>{{ author.name }}</td>
    <td>
      {% for book in author.books %}
      <span>{{ book.title }}</span>
      {% if not loop.last %}
      ,
      {% endif %}
      {% endfor %}
    </td>
    <td><a href="{{ url_for('edit_author', id=author.id) }}"><span class="glyphicon glyphicon-edit">Edit</span></a></td>
  </tr>

  {% endfor %}
  </tbody>
</table>
{% endblock %}
