{% extends "index.html" %}
{% block head %}
<title>Books management application - List of Books</title>
{% endblock %}
{% block content %}
<a href="{{ url_for('edit_book', id=0) }}"><span class="glyphicon glyphicon-plus"></span>Add book</a>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Book</th>
      <th>Authors</th>
      <th>Control</th>
    </tr>
  </thead>
  <tbody>
  {% for book in books %}
  <tr>
    <td>{{ book.id }}</td>
    <td>{{ book.title }}</td>
    <td>
      <span>{{ book.author.name }}</span>
    </td>
    <td><a href="{{ url_for('edit_book', id=book.id) }}"><span class="glyphicon glyphicon-edit">Edit</span></a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
