{% extends "index.html" %}
{% block head %}
<title>Books management application - Edit</title>
{% endblock %}
{% block content %}
{% from "formshelper.html" import render_field %}
<form method=post action="">
  {{ render_field(form.title) }}
  {{ render_field(form.authors) }}
  <input type=submit value="Save" /> {% if item_id !=0 %}<a href="{{ url_for('delete_book', id=item_id) }}"><span class="glyphicon glyphicon-remove"></span>Delete</a>{% endif %}
</form>
{% endblock %}
