<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Books management application</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{  url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='bell.ico') }}">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default  navbar-inverse" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/">The Best Books</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
	  <li><a href="/">Authors</a></li>
	  <li><a href="/books">Books</a></li>
	</ul>
	<form class="navbar-form navbar-right" role="search" action="/search" method="GET">
	  <div class="form-group">
            <input type="text" class="form-control" name="query" placeholder="Find a book">
	  </div>
	  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>Find it now</button>
	</form>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="{{ url_for('login') }}">Login</a></li>
	  <li><a href="{{ url_for('logout') }}">Logout</a></li>
	</ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{  url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{  url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block content %}
    
    {% endblock %}
  </body>
</html>
