{% extends "index.html" %}
{% block content %}
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>Username: (pls, use: username=demo)
      <dd><input type=text name=username>
      <dt>Password(pls, use pass=test):
      <dd><input type=password name=password>
      <dd><input type=submit value=Login>
    </dl>
  </form>
{% endblock %}
